
*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
body{
    text-align: center; 
}
.container{
    height: 100px;
    width: 100%;
    margin: o auto;
    position: fixed;
    z-index: 12;
    background-color: #111;
}
.a{
    width: 70%;
    line-height: 100px;
    float: right;
}
.a a{
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace; 
    font-size: 20px;
}
.logo{
    width: 30%;
    line-height: 100px;
    float: left;
}
.logo a{
    text-decoration: none;
    font-size: 30px;
    font-family: bignoodletitling;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 4px;
}
.a a:hover{
    background-color: #ffffff;
}
.banner{
    position: relative;
    top: 100px;
    padding: 80px;
    background-image: url(../IMAGES/mainbg.webp);
    justify-content: space-between;
    align-items: center;
}
.btn{
    text-decoration: none;
    text-transform: uppercase;
    background-color: #009909;
    color: #111;
    line-height: 1.5em;
    letter-spacing: 10px;
    padding: 10px 20px;
    margin-top: 10px;
    display: inline-block;
}
.banner h2{
    color: #ffffff;
}
.banner h2 span{
    color: #efefefa2;
    font-size: 1.2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.banner h3{
    color: blueviolet;
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.5em;
    font-size: 1.5em;
}